.main {
    width: 75%;
    margin: 0 auto;
    position: relative;
    //border: 1px solid red;

    .countBooks {
        margin: 0 auto;
        width: 75%;
        text-align: center;
       // border: 1px solid red;
    }

}